<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="loggingConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, 
               Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0,
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DefaultDirectory" value="C:\POC"/>
    <add key="OpenDialogFilter" value="Excel worksheets|*.xls*"/>
    <add key="OutputFileName" value="Output.txt"/>
    <add key="TimeoutInMinutes" value="10"/>
    <add key="MaxDepth" value="10"/>
    <add key="MaxTreeNodes" value="2000"/>
    <add key="MaxChildren" value="50"/>
  </appSettings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Rolling Flat File Trace Listener" 
              type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              fileName="%temp%\TestLogs\WDAH.log" rollSizeKB="20480" timeStampPattern="dd-MM-yyyy" formatter="Text Formatter"
              header="" rollInterval="Midnight" rollFileExistsBehavior="Increment"
              traceOutputOptions="DateTime, Timestamp" filter="All" />
    </listeners>
    <formatters>
      <add template="{timestamp(local:dd/MM/yyyy HH:mm:ss.ffffffff)}: {message}" name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </formatters>
    <categorySources>
      <add switchValue="All" autoFlush="true" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>  
      <allEvents switchValue="All" name="All Events">  
        <listeners>  
          <add name="Rolling Flat File Trace Listener" />  
        </listeners>  
      </allEvents>  
      <notProcessed switchValue="All" name="Unprocessed Category">  
        <listeners>  
          <add name="Rolling Flat File Trace Listener" />  
        </listeners>  
      </notProcessed>  
      <errors switchValue="All" name="Logging Errors &amp; Warnings">  
        <listeners>  
          <add name="Rolling Flat File Trace Listener" />  
        </listeners>  
      </errors>  
    </specialSources>
  </loggingConfiguration>
</configuration>